

# Redirects for commonly linked URLs from the Classic site

RedirectMatch "^/docs/.+"			"https://docs.wxpython.org/" 
RedirectMatch "^/docs"				"https://docs.wxpython.org/" 

RedirectMatch "^/OSCON2003/(.*)"	"/presentations/OSCON2003/$1"  
RedirectMatch "^/OSCON2004/(.*)"  	"/presentations/OSCON2004/$1"  
RedirectMatch "^/OSCON2006/(.*)"  	"/presentations/OSCON2006/$1"  
RedirectMatch "^/OSCON2008/(.*)"  	"/presentations/OSCON2008/$1"  

RedirectMatch "^/OSCON2003"  		"/presentations/OSCON2003/"  
RedirectMatch "^/OSCON2004"  		"/presentations/OSCON2004/"  
RedirectMatch "^/OSCON2006"  		"/presentations/OSCON2006/"  
RedirectMatch "^/OSCON2008"  		"/presentations/OSCON2008/"  

Redirect "/CHANGES.txt"    			"/pages/changes"
Redirect "/CHANGES.html"   			"/pages/changes"
Redirect "/BUILD.txt"				"https://github.com/wxWidgets/Phoenix/blob/master/README.rst"
Redirect "/BUILD.html"				"https://github.com/wxWidgets/Phoenix/blob/master/README.rst"

