/* 
 * wxPython specific overrides for style items in the base and bootstrap3 themes.
 */

.nav > li > a {
	padding: 5px 10px;
}

.navbar-nav > li > a,
.navbar-nav > li > a:hover {
  padding-top: 10px;
  padding-bottom: 2px;
  -webkit-transition: color ease-in-out 0.2s;
  -o-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #335275;
}

div.homepage_news {
}

a.u-url {
    color: #125d8a;
    text-decoration: none;
}

div.sectionindex header h2 a {
    color: #125d8a;
    text-decoration: none;
}
body {
    background-color: #dee4f9; 
    font-size: 15px;
}

div.wxpy-content-col {
    border-radius: 6px;
    background-color: #ffffff;
    padding: 6px;
}


.panel-primary > .panel-heading {
  background-color: #00468c;
}


a.thumbnails img {
    vertical-align: top;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}


code, kbd, pre, samp, tt.docutils.literal {
    font-size: 85%;
}

/* So inline literals match between reST and markdown docs */
tt.docutils.literal { 
    background-color: #eeeeee; 
    color: #c7254e;
}


/* styles for the search box form and button */
form.navbar-form.navbar-right div.form-group input.form-control {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 24px;
}



